

<div class="edit-course-form">

    <h2 mat-dialog-title>{{description}}</h2>

    <mat-dialog-content [formGroup]="form">

      
        <mat-form-field>

            <input matInput [matDatepicker]="myDatepicker"
                   formControlName="fecha" >

            <mat-datepicker-toggle matSuffix
                                   [for]="myDatepicker">

            </mat-datepicker-toggle>

            <mat-datepicker #myDatepicker></mat-datepicker>

        </mat-form-field>


        <mat-form-field>

            <mat-select placeholder="Seleccione la cola"
                        formControlName="cola">

                <mat-option value="BEGINNER">
                    Beginner</mat-option>
                <mat-option value="INTERMEDIATE">
                    Intermediate</mat-option>
                <mat-option value="ADVANCED">
                    Advanced</mat-option>

            </mat-select>


        </mat-form-field>



        <mat-form-field>

            <input matInput
                   placeholder="Identificacion"
                   formControlName="identificacion">

        </mat-form-field>

        <mat-form-field>

            <input matInput
                   placeholder="ani"
                   formControlName="ani">

        </mat-form-field>

        <mat-form-field>

            <input matInput
                   placeholder="dnis"
                   formControlName="dnis">

        </mat-form-field>

        <mat-form-field>

            <input matInput
                   placeholder="conversationId"
                   formControlName="conversationId">

        </mat-form-field>

    </mat-dialog-content>


    <ng-multiselect-dropdown
    [placeholder]="'usuario'"
    [data]="dropdownList"
    [(ngModel)]="selectedItems"
    [settings]="dropdownSettings"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    >
    </ng-multiselect-dropdown>

    <ng-multiselect-dropdown class="edit-course-form"
    [placeholder]="'cola'"
    [data]="dropdownListQU"
    [(ngModel)]="selectedItemsQU"
    [settings]="dropdownSettingsQU"
    (onSelect)="onItemSelectQU($event)"
    (onSelectAll)="onSelectAllQU($event)"
    >
    </ng-multiselect-dropdown>

    <mat-dialog-actions>

        <button mat-raised-button (click)="close()">Cerrar</button>

        <button mat-raised-button color="primary" (click)="save()">Consultar</button>

    </mat-dialog-actions>

</div>





